#liisi_form p {
    display: table-row;
}

#liisi_form label {
    display: table-cell;
    font-size: 14px;
    color: #222;
    padding: 6px 15px;
    line-height: 24px;
}

#liisi_form input {
	width: 200px;
}

#liisi_form input[type="submit"] {
	width: auto;
}

#liisi_form select {
    padding: 0 5px;
    height: 22px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    width: 200px;
    box-sizing: border-box;
}

#liisi_form .required em {
    color: #990000;
}

#liisi_order_total,
#liisi_min_downpayment {
    color: #222;
    margin-top: 5px;
    display: inline-block;
    margin-right: 10px;
    clear: both;
    float: left;
}

#module-liisi-payment .cart_navigation{
    margin: 0;
}

#module-liisi-payment hr{
    margin: 20px 0;
}

#module-liisi-payment .info{
    background: url(img/info.png);
    background-repeat: no-repeat;
    padding-left: 23px;
    color:#0081bd;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #FFF;
    color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#liisi_form .checker{
	float: left;
	margin-right: 0px;
	margin-top: 3px;
}
