<br/>
<fieldset>
	<legend>{l s='Liisi Info' mod='liisi'}</legend>
	<table class="table">
		{foreach from=$liisi key='key' item='val'}
			{if $key != 'id' && $key != 'id_order' && $key != 'id_shop_list'}<tr><td><strong>{$key}</strong></td><td>{$val}</td></tr>{/if}
		{/foreach}
	</table>
</fieldset>
