<p class="payment_module">
    <a class="liisi" href="{$link->getModuleLink('liisi', 'payment')|escape:'html'}" title="{l s='Fill Liisi application' mod='liis'}" style="background: url({$payment_logo}) no-repeat 0 center;">
        {l s='Fill Liisi application' mod='liisi'}
    </a>
</p>
